/* modal、dialog */

dialog {

  border: none;
  max-width: 700px;
  width: calc(100vw - 24px);

}

@media (max-width: 991px) {

  .modal-lg { --bs-modal-width: 1140px; }

}

/* buttons */

.btn-origin { border: none; padding: 0; }

.btn-inline {
   
  @extend .btn-origin;
   
  position: absolute;
  top: .45rem; right: 1.25rem;

}

.btn-slider {

  @extend .btn;

  border: 0;
  overflow: hidden;

  position: relative;
  z-index: 1;
 
  &::after {
 
    content: '';
    width: 0; height: 100%;
    position: absolute;
    top: 0; right: 0;
    z-index: -1;
    transition: all 0.5s;
 
  }

  &:hover::after { width: 100%; left: 0; }

}

/* input */

.is-required {

  &::before {

    content: '*';
    color: $danger;
    font-weight: bold;
    margin-right: .25rem;

  }

}

.form-label { margin-bottom: 1rem; }